.listenNowInfoBox {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.listenNowInfoBox .imgInListenNow {
  max-width: 270px;
  max-height: 270px;
}

.listenNowInfoBox .imgInListenNow img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
}

.listenNowInfoBox .episodeInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 1.5rem;
}
.listenNowInfoBox .episodeInfoBox h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8rem;
  color: #ccc5b9;
}

.listenNowInfoBox .episodeInfoBox h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  color: #666;
}

.listenNowInfoBox .episodeInfoBox p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: #868975;
}
.listenNowInfoBox .episodeInfoBox .btnAudioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.listenNowInfoBox .episodeInfoBox .btnAudioContainer button {
  width: 250px;
  height: 75px;
  margin-left: 3rem;
  background-color: #130000;
}
.listenNowInfoBox .episodeInfoBox .btnAudioContainer button:fucus,
.listenNowInfoBox .episodeInfoBox .btnAudioContainer button:hover {
  filter: brightness(50%) grayscale(50%);
}
.listenNowInfoBox .episodeInfoBox .btnAudioContainer a {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  padding: 0 20px;
}
