* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Thasadith', sans-serif;
}

body {
  margin: 0;
  background-color: #131313;
}

/* $desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px; */
